$white: white;
$blue: blue;
$black: black;
$pink: pink;
$margins: 0 2rem 2rem;
$h1size: 99px;
$h2size: 55px;

$pink: rgb(255, 0, 255);


$note-bg-color: $white;
$note-bg-color: $pink;
$main-size: 25rem;
